node_modules/

.env

auth/sessions/
auth/backups/

database/json/
database/sqlite/
database/mongodb/

logs/
temp/

*.log
*.db
*.sqlite

npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db

.vscode/
.idea/
